html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #header {
  position: relative;
}
.hazard-box {
    margin-bottom: 30px; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 5px; 
}
.hazard-exposure {
    margin-bottom: 5px; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 5px; 
}
#header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000; 
}
  #districtFilter, #hazardFilter {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  #mainContainer {
    display: flex;
 
  }

  
  #contentContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .mapView {
    margin: 10px;
    height: 550px !important; 
    outline: 10px solid White;
    border: 10px solid white;
    position: absolute;
    width: 30%;
    bottom: -200;
    
  }
  #mapContainer {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  
  
  #infoBoxes {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 68%;
  }
  #infoBoxes1 {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #hazardBox, #durationBox {
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  select {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
  }
  
  #header-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #header-content {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  #symbol{
    background:white;
    border-radius:10px;
    margin-top:14px; 
  }
  
  #box1 , #box2{
    border: 1px solid red;
    padding:10px;
    height:60vh;
    background:white;
    display: flex;
    align-items: center;
  }
.box-title{
    text-align: center;
    font-family: roboto slab;
    font-size: 25px;;

}
.box-size{
  width: 25%;;
}
#para{
  margin-left: 20px;;
}
.icon-display a{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  padding-bottom: 10px;
}

#para select{
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  width:250px;
  border-radius: 8px;;
  
}

#info-links a {
  color: black;
  text-decoration: none;
  font-family: roboto slab;
  font-size: 20px;
  transition: 0.4s;


}
#info-links a:hover {
color: steelblue;
border-left: 1px solid steelblue;
padding-left: 5px;
transition: 0.4s;
}
.box-size1{
  width: 30%;
  text-align: center;
  
}
.box-size1 button{
  background-color: white;
  padding: 20px 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 50px;
  color: red;
  border-color: red;
  width: 250px;
  cursor: pointer;
  transition: 0.4s;
}
.box-size1 button:hover{
  transform: scale(1.05);
  transition: 0.4s;
}
#radarChartContainer {
  z-index: 1000;
  width: 33% !important;
  display: flex;
  justify-content: center;
}
.changeable{
  width: 33%;
  display: flex;
  justify-content: space-around;
}
.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;

}
.dropdownmenu ul {
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease; 
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
